<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/style.css">
<body id="edit">
    <h2>Edit your post</h2>
    <p>Post id :<b> <%=post.id%></b></p>
    <p>Post Username :<b class="username"> <%=post.username%></b></p>
    <div class="main editpost">
      <form action="/post/<%=post.id%>?_method=PATCH" method="post" >
        
        <label for="text" id="lable2">Content : </label>
        <textarea name="content" id="text" name ="text" cols="30" rows="10" placeholder="Enter your content here ...."><%=post.content%></textarea>
        <br><br>
        <button id="new">Submit</button>
      </form>
</body>
</html>