<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<link rel="stylesheet" href="/style.css">
<body>
    <div class="main">
      <form action="/post" method="post" >
        <label for="username" id = "lable">Username : </label>
        <input type="text" placeholder="Enter Username" name="username" id="username"><br><br>
        <label for="text" id="lable2">Content : </label>
        <textarea name="content" id="text" name ="text" cols="30" rows="10" placeholder="Enter your content here ...."></textarea>
        <br><br>
        <button id="new">Submit</button>
      </form>
    </div>
</body>
</html>